.tile {
  background: #fff;
  border: 1px solid #000;
  width: 25px;
  height: 25px;
}

.tileSelected {
  background: #0ff !important;
}

.tileTroop {
  background: #ff0;
}

.action, .reset {
  background: #fff;
  border: 1px solid #000;
  width: 100%;
  height: 60px;
}

.selectedAction {
  background: #0ff !important;
}

.troopPanel, .actionPanel {
  text-align: center;
  margin-top: 20px;
  width: inherit;
}

.sidebar {
  width: 120px;
  margin-left: 40px;
}

.tileRow {
  display: inline;
}

.board {
  display: block;
}

.game {
  display: flex;
  flex-direction: horizontal;
}

.menu {
  display: block;
}